<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>[SUBJECT]</title>
  <style type="text/css">
  body {
   padding-top: 0 !important;
   padding-bottom: 0 !important;
   padding-top: 0 !important;
   padding-bottom: 0 !important;
   margin:0 !important;
   width: 100% !important;
   -webkit-text-size-adjust: 100% !important;
   -ms-text-size-adjust: 100% !important;
   -webkit-font-smoothing: antialiased !important;
 }
 .tableContent img {
   border: 0 !important;
   display: block !important;
   outline: none !important;
 }
 a{
  color:#382F2E;
}

p, h1,h2,ul,ol,li,div{
  margin:0;
  padding:0;
}

h1,h2{
  font-weight: normal;
  background:transparent !important;
  border:none !important;
}

@media only screen and (max-width:480px)
    
{
    
table[class="MainContainer"], td[class="cell"] 
  {
    width: 100% !important;
    height:auto !important; 
  }
td[class="specbundle"] 
  {
    width: 100% !important;
    float:left !important;
    font-size:13px !important;
    line-height:17px !important;
    display:block !important;
    padding-bottom:15px !important;
  } 
td[class="specbundle2"] 
  {
    width:80% !important;
    float:left !important;
    font-size:13px !important;
    line-height:17px !important;
    display:block !important;
    padding-bottom:10px !important;
    padding-left:10% !important;
    padding-right:10% !important;
  }
    
td[class="spechide"] 
  {
    display:none !important;
  }
      img[class="banner"] 
  {
            width: 100% !important;
            height: auto !important;
  }
    td[class="left_pad"] 
  {
      padding-left:15px !important;
      padding-right:15px !important;
  }
     
}
  
@media only screen and (max-width:540px) 

{
    
table[class="MainContainer"], td[class="cell"] 
  {
    width: 100% !important;
    height:auto !important; 
  }
td[class="specbundle"] 
  {
    width: 100% !important;
    float:left !important;
    font-size:13px !important;
    line-height:17px !important;
    display:block !important;
    padding-bottom:15px !important;
  } 
td[class="specbundle2"] 
  {
    width:80% !important;
    float:left !important;
    font-size:13px !important;
    line-height:17px !important;
    display:block !important;
    padding-bottom:10px !important;
    padding-left:10% !important;
    padding-right:10% !important;
  }
    
td[class="spechide"] 
  {
    display:none !important;
  }
      img[class="banner"] 
  {
            width: 100% !important;
            height: auto !important;
  }
    td[class="left_pad"] 
  {
      padding-left:15px !important;
      padding-right:15px !important;
  }
    
}

.contentEditable h2.big,.contentEditable h1.big{
  font-size: 26px !important;
}

 .contentEditable h2.bigger,.contentEditable h1.bigger{
  font-size: 37px !important;
}

td,table{
  vertical-align: top;
}
td.middle{
  vertical-align: middle;
}

a.link1{
  font-size:13px;
  color:#27A1E5;
  line-height: 24px;
  text-decoration:none;
}
a{
  text-decoration: none;
}

.link2{
color:#ffffff;
border-top:10px solid #27A1E5;
border-bottom:10px solid #27A1E5;
border-left:18px solid #27A1E5;
border-right:18px solid #27A1E5;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
background:#27A1E5;
}

.link3{
color:#555555;
border:1px solid #cccccc;
padding:10px 18px;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
background:#ffffff;
}

.link4{
color:#278ce5;
line-height: 24px;
}

h2,h1{
line-height: 20px;
color:darkblue
}
p{
  font-size: 14px;
  line-height: 21px;
  color:blue;
}

.contentEditable li{
 
}

.appart p{
 
}
.bgItem{
background: #ffffff;
}
.bgBody{
background: #ffffff;
}

img { 
  outline:none; 
  text-decoration:none; 
  -ms-interpolation-mode: bicubic;
  width: auto;
  max-width: 100%; 
  clear: both; 
  /*display: block;*/
  float: none;
}

li{
font-size: 14px;
line-height: 21px;
color: blue;  
}

</style>


<script type="colorScheme" class="swatch active">
{
    "name":"Default",
    "bgBody":"ffffff",
    "link":"27A1E5",
    "color":"AAAAAA",
    "bgItem":"ffffff",
    "title":"444444"
}
</script>


</head>
<body paddingwidth="0" paddingheight="0" bgcolor="#d1d3d4"  style="padding-top: 0; padding-bottom: 0; padding-top: 0; padding-bottom: 0; background-repeat: repeat; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;" offset="0" toppadding="0" leftpadding="0">
   <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td><table width="1000" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#ffffff" style="font-family:helvetica, sans-serif;" class="MainContainer">
      <!-- =============== START HEADER =============== -->
  <tbody>
    <tr>
      <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td valign="top" width="20">&nbsp;</td>
      <td><table width="100%" border="0" cellspacing="0" cellpadding="0" style="background:#d6d4d4; border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px">
  <tbody>
    <tr>
      <td class="movableContentContainer">
      <div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td height="1"></td>
    </tr>
    <tr>
      <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
    </table>
  <tbody>
    <tr>
      <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
     
      </td>
      <div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
    
    <td>
      <td valign="top" width="500" ><div class='contentEditableContainer contentImageEditable'>
              <div class='contentEditable' style="text-align: center;"><img class="banner" src="/corona/bigImg.jpg" alt="ImageBanner" title="ImageBanner" width="auto" border="0" ></div></div></td>
    </td>
      <td class="specbundle" valign="center" width="100" align="center"><div class='contentEditableContainer contentImageEditable'>
        <div class='contentEditable'>
         <img src="/corona/AC.png" alt="side image" width='100' data-default="placeholder" border="0" >
      </div>
      </div>
        <div class='contentEditable'>
                        <img src="/corona/side3.png" alt="side image" width='100' data-default="placeholder" border="0" style="margin-top :70px;">
                      </div>
                    </div>
      </td>
<!-- <td width="20" class="spechide">&nbsp;</td> -->
        <td valign="top" class="specbundle"><table width="350" align="left" cellpadding="0" cellspacing="0">
          <tr><td height='5'></td></tr>
          <tr>
          <td>
            <br>
            <div class='contentEditableContainer contentTextEditable'>
            <div class='contentEditable' style='text-align: left;font-size: small;'>
              <h2 style='font-size:18px;'>Helpful URLs</h2>
              
              <a target='_blank' href="https://www.mohfw.gov.in/" class='link4' style='color:#27A1E5;font-size:14px;' >Ministry of Health and Family Welfare, India</a><br>
              <a target='_blank' href="https://www.who.int/" class='link4' style='color:#27A1E5;font-size:14px;' >World Health Organization (WHO)</a><br>
              <a target='_blank' href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public" class='link4' style='color:#27A1E5;font-size:14px;'>WHO - COVID-19 advice to public</a><br>
              <a target='_blank' href="https://www.who.int/news-room/q-a-detail/q-a-coronaviruses" class='link4' style='color:#27A1E5;font-size:14px;'>WHO - Q&A on COVID-19</a>
            </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            
            <div class='contentEditableContainer contentTextEditable'>
                            <div class='contentEditable' style='text-align: left;font-size: small;'>
                              <h2 style='font-size:18px;'>Helpline Numbers</h2>
                              
                              <a target='_blank' href="/corona/coronvavirushelplinenumber.pdf" class='link4' style='color:#27A1E5;font-size:14px;' >click here to download</a>
                            </div>
                          </div>
          </td>
          </tr>
        </table></td>
    </tbody>
      </table>
      </div>

       </tr>
  </tbody>
</table></td>
    </tr>
    <tr>       </tr>
      </table>
      <!-- =============== END HEADER =============== -->
<!-- =============== START BODY =============== -->
      
      <div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td height="4"></td>
    </tr>
    <tr>
      <td style="background:#d6d4d4; border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td width="40" valign="top">&nbsp;</td>
      <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                      <tr>
                        <td>
                          <br>
                          <br>
                          <div class='contentEditableContainer contentTextEditable'>
                            <div class='contentEditable' style='text-align: left;'>
                              <h1 style="font-size: 18px;">What is coronavirus?</h1>
                              
                              <p>Coronaviruses are a large family of viruses which may cause illness in animals or humans.  In humans, several coronaviruses are known to cause respiratory infections ranging from the common cold to more severe diseases such as Middle East Respiratory Syndrome (MERS) and Severe Acute Respiratory Syndrome (SARS). The most recently discovered coronavirus causes coronavirus disease COVID-19.
                              </p>
                              <br>
                              <h1 style="font-size: 18px;">What is COVID-19?</h1>
                              
                              <p>COVID-19 is the infectious disease caused by the most recently discovered coronavirus. This new virus and disease were unknown before the outbreak began in Wuhan, China, in December 2019.
                              </p>
                                                            <!-- <a target='_blank' href="#" class='link3' style='color:#555555;'>Call to action</a> -->
                              <br>
                <h1 style="font-size: 18px;">Basic protective measures against the COVID -19</h1>
                              
                            <ul>
  <tr>
    <td style="text-align: left;">
      <li>Wash your hands frequently: Regularly and thoroughly clean your hands with an alcohol-based hand rub or wash them with soap and water.</li>
    </td>
  </tr>
  <tr>
    <td style="text-align: left;">
      <li>Maintain social distancing : Maintain at least 1 metre (3 feet) distance between yourself and anyone who is coughing or sneezing.</li>
    </td>
  </tr>
  <tr>
    <td style="text-align: left;">
      <li>Avoid touching eyes, nose and mouth : Hands touch many surfaces and can pick up viruses, hence avoid touching eyes, nose and mouth.</li>
    </td>
  </tr>
  <tr>
    <td style="text-align: left;">
      <li>Practice respiratory hygiene: Make sure you, and the people around you, follow good respiratory hygiene. This means covering your mouth and nose with your bent elbow or tissue when you cough or sneeze. Then dispose of the used tissue immediately to dustbin.</li>
    </td>
  </tr>
  <tr>
    <td style="text-align: left;">
    <li>If you have fever, cough and difficulty breathing, seek medical care early : Stay home if you feel unwell. If you have a fever, cough and difficulty breathing, seek medical attention and call in advance. Follow the directions of your local health authority</li>
   </td>
  </tr>
  <tr>
    <td style="text-align: left;">
    <li>Stay informed and follow advice given by your healthcare provider: Stay informed on the latest developments about COVID-19. Follow advice given by your healthcare provider, your national and local public health authority or your employer on how to protect yourself and others from COVID-19.</li>
   </td>
  </tr>
</ul>
                            </div>
                          </div>
                        </td>
                      </tr>
                      </table></td>
      </tr>
  </tbody>
</table>
</td>
    </tr>
  </tbody>
</table>

      
      
      </div>
     
      <!-- =============== END BODY =============== -->
<!-- =============== START FOOTER =============== -->


      <div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
      
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    
    <tr>
      <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
</table>
</td>
    </tr>
    <tr>
      <td height='4'></td>
    </tr>
  </tbody>
</table>

     <!-- =============== END FOOTER =============== --> 
      </div>
      </td>
    </tr>
  </tbody>
</table>
</td>
      <td valign="top" width="20">&nbsp;</td>
    </tr>
  </tbody>
</table>
</td>
    </tr>
  </tbody>
</table>
</td>
    </tr>
  </tbody>
</table>

  </body>
  </html>
