<%# navigation_add 'School Info', :controller => 'classes', :action => 'index' %>

<div id="ClassIndex" data-user="<%=@classes.to_json %>"></div>
<div id="ClassesIndex" data-user="<%= @react_data.to_json %>"></div>
