<!-- Sec --> 
<!-- <button class="new-employee-department mg-btn-bottom-margin submit mc-margin-bottom-20 flat-button" id="newEmployeeDepartmentID">New Department</button> -->

<a class="createNewTestSetting" href= "/mg_employee_departments/new" id="createNewTestSetting">
<button id='createNew_Test_SettingsID' class="mg-btn-bottom-margin submit mc-margin-bottom-20 flat-button">
New Department </button></a>

<h4 class="form-section-heading mc-margin-bottom-20">Listing Department</h4>
<% if @employee_departments.length > 0 %>
<div class="mg_pagination">
    <table class="table table-bordered table-striped mg-tbl-margin" id="EmpCatTableID">
    <thead>
        <tr>
          <th><%= t('departmentname') %></th>
          <th><%= t('departmentcode') %></th>
          <th><%= t('actions') %></th>
        </tr>
       </thead>
        <tbody>
        <% @employee_departments.each do |employee_department| %>
           <%= render partial: 'table_row', locals: {employee_department: employee_department} %>
        <% end %>
           </tbody>
    </table><br/>
     <%#= will_paginate @employee_departments, :container => false %>
    </div>
<% else %>
  <h4>Please create some employee departments... </h4>

<% end %>
<div id="newEmployeeDepartmentDialogID" ></div>
<div id="editEmployeeDepartmentDialogID"></div>
