<!-- com-->
<footer id="Footer">
    <!-- <div class="footer-sms-logo">
      <%#= image_tag("open-school-logo.png" , class: "mg-sms-logo" , :alt => "School-System-Management") %><span class="footer-sms-text">SMS</span>
    </div> -->
      <ul class="mg-align-center">
       <li>
            <a href="#">Terms &amp; Conditions</a>
            <span class="verticalLine"></span>
       </li>
       <li>
            <a href="#">Privacy Policy</a>
            <span class="verticalLine"></span>
       </li>
       <li>
            <a href="#">About Us</a>
            <span class="verticalLine"></span>
       </li>
       <li>
            <a href="#">Contact Us</a>
       </li>
        <li class="powered-by-content-footer">
                  <span class="mg-powered-by-text-footer">Powered By - &copy; &nbsp;</span>
            <a href="http://www.mindcomgroup.com"><img src='<%=image_url("mindcom-logo.png") %>' style=" height: 30px; position: relative; top: -9px; width: 80px;"></a>
        </li>
     </ul> 
</footer>
<script type="text/javascript">
  
</script>
