<%# navigation_add 'School Info', :controller => 'wings', :action => 'index' %>
<<<<<<< HEAD
<h1>Hii</h1>
=======

<h1>bvgfgghg</h1>
>>>>>>> main
<div id="WingsIndex" data-user="<%=@wings.to_json %>"></div>