# <%# navigation_add 'School Info', :controller => 'wings', :action => 'index' %>
# <div id="WingsIndex" data-user="<%=@wings.to_json %>"></div>


<%# navigation_add 'Wings', :controller => 'wings', :action => 'index' %> 
<div class="container-fluid px-2 px-md-4 ">
  <div class="card mt-4" id="basic-info">
    <div class="card-header">
      <h5>Wing List</h5>
    </div>
    <div class="card-body pt-0">
      <div class="row">
        <div class="col-4">
          <div class="input-group input-group-outline">
            <label class="form-label">Wing Name</label>
            <input type="text" class="form-control">
          </div>
        </div>  
        <div class="col-4">
          <div class="input-group input-group-outline">
            <label class="form-label">Description</label>
            <input type="text" class="form-control">
          </div>
        </div> 
        <div class="col-4">
          <div class="input-group input-group-outline">
            <label class="form-label">Code</label>
            <input type="text" class="form-control">
          </div>
        </div> 
      </div>
      <div class="row mt-4">
        <div class="col-6">
          <div class="input-group input-group-static">
            <label>Email</label>
            <input type="email" class="form-control" placeholder="example@email.com">
          </div>
        </div>
        <div class="col-6">
          <div class="input-group input-group-static">
            <label>Confirm Email</label>
            <input type="email" class="form-control" placeholder="example@email.com">
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-2">
          <button type="button" class="btn bg-gradient-primary ">Primary</button>
        </div>
        <div class="col-2">
          <button type="button" class="btn bg-gradient-secondary">Secondary</button>
        </div>
        <div class="col-2">
          <button type="button" class="btn bg-gradient-info">Info</button>
        </div>
        <div class="col-2">
          <button type="button" class="btn bg-gradient-success">Success</button>
        </div>
        <div class="col-2">
          <button type="button" class="btn bg-gradient-danger">Danger</button>
        </div>
        <div class="col-2">
          <button type="button" class="btn bg-gradient-warning">Warning</button>
        </div> 
      </div>
    </div>
  </div>
</div>